{:kotoba.app/id "cloud.itonami.isic-6530", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreia53ju5fgwvh774k74cspwyodb43jrzqbsdobw2n4k5m6dkeua6wy", :kotoba.app/embed-url "ipfs://bafkreia53ju5fgwvh774k74cspwyodb43jrzqbsdobw2n4k5m6dkeua6wy", :published {:archive "https://kotobase.net/ipfs/bafkreia53ju5fgwvh774k74cspwyodb43jrzqbsdobw2n4k5m6dkeua6wy", :size 73573, :put-status 201, :get-status 200, :at "2026-08-15T14:03:29.336Z"}}
